[Desktop Entry]
Name=Spawnbot
Exec=/usr/lib/Spawnbot/Spawnbot %U
Icon=/usr/share/pixmaps/Spawnbot.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/spawnbot;