[Desktop Entry]
Name=Spawnbot
Exec=/usr/lib/spawnbot/Spawnbot %U
Icon=/usr/share/pixmaps/spawnbot.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/spawnbot;